form {
  justify-items: center;
  text-align-last: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}

#outcome {
  display: grid;
  justify-content: space-around;
  font-size: 30px;
}

#button {
  display: grid;
  grid-template-columns: 1fr;
}

#buttonU {
  display: grid;
  grid-template-columns: 1fr;
}

#buttonP {
  display: grid;
  grid-template-columns: 1fr;
}
